//classes//

/*.header-main .main-nav ul li {
  float: right;
  width: 100px;
  text-align: center;
  right: 17.5%;
}*/



 /*.header-main h1 {
  color: white;
  float: left;
  font-size: 60px;
  text-shadow: .5px .5px #FF0000;
  left: 17.5%;
}*/

.main-nav {
  list-style: none;
}


.pull-right {
  height: 150px;
  width: 250px;
  display: block;
  margin: auto;


}
.pull-center {
  height: 125px;
  width: 250px;
  display: block;
  margin: auto;
}

.pull-left {
  height: 125px;
  width: 275px;
  display: block;
  margin: auto;
}

.tab-content ul {
  text-align: center;
  text-decoration: none;
  color: white;
  list-style: none;
}

.tab-content {
  text-align: center;
  color: white;
}

.main-nav
