header {
  text-align: center;
  text-decoration: none;

}

img {
  height: 300px;
  width: 1440px;
  border-bottom: dotted grey 5px;
}
.main-nav ul {
  display: inline;
}

body {
background-color: grey;
}
